form {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px var(--accent);
}

form a {
  color: var(--accent);
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}