#resources-container {
  display: flex;
  flex-direction: column;
}

#resources-container > h1{
  padding-left: 20px;
  color: var(--primary-text);
  font-size: 1.75rem;
}

#resources-container > ul > li {
  list-style-type: square;
  padding-bottom: 25px;
}

#resources-container > ul > li > a {
  position: relative;
  color: var(--secondary-text);
  text-decoration: none;
}

#resources-container > ul > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: var(--accent);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}

#resources-container > ul > li > a:hover::before{
  visibility: visible;
  transform: scaleX(1);
}
